body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url(img/R.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.568);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #09640d86;
}

.login-container input {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #09640d86;
    border-radius: 5px;

}

.login-container button{
    background-color: #09640d86;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
::placeholder{
    color: #080808;
}
.login-container button:hover{
    background-color: #020c0286;
}
@media(max-width: 480px){
    .login-container{
        width: 80%;
    }
}